/* fuente principal */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&family=Montserrat&display=swap');

/* letra titulo form destino */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    box-sizing: border-box; /*no crece mas alla del tamaño*/
    /*margin: 0; le saca el margen a todo*/
}

html{
    scroll-behavior: smooth;
}

body{
  font-family: 'Montserrat', sans-serif;
    /* font-family: 'roboto', sans-serif; */
    margin: 0; /*margen*/

    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);

}

:root{

  --color-primary: #270570;
  --second-color:#FC2947;
  --color-white:#eeeeee;
  --other-color:#ffce00;
  --principal-font:'Montserrat', sans-serif;
  --second-font:'Anton', sans-serif;
}


/*hasta aca estan definida los estilos  generales de la web*/

.container{
    max-width: 1400px; /*margen maximo*/
    margin: auto; /*margenes automaticos*/
}



header{
    /* background-color: var(--color-primary);   */
        background-image: url(https://media.staticontent.com/media/pictures/ac250e36-5700-4b60-8dac-934a961ff431), linear-gradient(90deg, var(--second-color) 0%, var(--color-primary) 100%);

    background-position: center;
    background-size: cover;

    height: 100px;
}

header .logo{
    margin: 0;
    padding: 25px;
    font-weight: bold;
    color: cornsilk;
    font-size: 1.35em;
}

header .container{
    display: flex;
    flex-direction: column; /*se ordenan en una columna*/
    align-items: center;   
}


header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;

}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: cornsilk;
}

header a:hover{

    color:var(--second-color);
}



/* estilo de formulario destino */

.content-title{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  height: 200px;
}

.content-title span{
  text-align: center;
  width: 100%;
  height: 50px;

  font-size: 40px;


}

.hr{

  width: 400px;
  height: 5px;
  margin: 20px;

  border-bottom:1px solid var(--second-color);

}




.container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 40vh; */
    /* background-image: url(https://media.staticontent.com/media/pictures/ac250e36-5700-4b60-8dac-934a961ff431), linear-gradient(90deg, #ed6151 0%, #f14053 100%); */

    /* background-position: center;
    background-size: cover; */

    background-image: url(https://images.unsplash.com/photo-1504473247222-c670cdfed081?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);

    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
   

    padding: 20px 0 20px 0;

  }

  .form-destino {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;

    /* background-image: url(https://images.unsplash.com/photo-1504473247222-c670cdfed081?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);

    background-position: center;
    background-repeat: no-repeat;
    background-size:cover; */

    height: 15vh;

    border-radius: 10px;

  }


  .form-destino h2{
    font-family: var(--second-font);
    /* font-family: 'Monoton', cursive; */
    font-size: 55px;
    margin-right: 25px;
    /* color:var(--color-white); */

    -webkit-text-stroke: 0.5px var(--color-white);
    color: transparent;

  }
  

  .form-group {
    display: flex;
    flex-direction: column;
    margin: 5px 5px 0 5px;

  }

  label {
    margin-bottom: 10px;
  }
  
  select, input {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid var(--color-white);
    font-size: 16px;
  }
  

  .btn-form {
    background-color:var(--color-primary);
    color:var(--color-white);
    padding: 10px 20px;
    border-radius: 3px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 15px;
  }

  .btn-form:hover{

    background-color:var(--second-color);
    color:var(--color-white);
    

  }

  /* En este ejemplo, utilizamos display: flex en el contenedor principal para centrar el formulario en la página y justify-content: center y align-items: center para alinearlo horizontal y verticalmente. Luego, aplicamos display: flex y flex-direction: column al formulario y display: flex y flex-direction: row a cada grupo de elementos para alinearlos vertical y horizontalmente, respectivamente. */


  /*tarjetas de destinos*/


.container-cards{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
   /* margin-bottom: 20vh; */
    /* background-color:var(--second-color); */
    width: 100%;
    height: 600px;
}


.gallery {
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  
  .cards {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.3s ease-in-out;
    font-family: var(--principal-font)
  }


  
  .card-1 {
    width: 350px;
    height: 350px;
    flex: 0 0 calc(33.33% - 20px);
    margin-right: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;

    background-image: url(https://dynamic-media-cdn.tripadvisor.com/media/photo-o/12/f7/05/33/valle-de-la-muerte.jpg?w=1200&h=-1&s=1);
    background-size: cover;
    background-position: center;
   
  }

  .card-2 {
    width: 350px;
    height: 350px;
    flex: 0 0 calc(33.33% - 20px);
    margin-right: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;

    background-image: url(https://dynamic-media-cdn.tripadvisor.com/media/photo-o/09/fc/b4/ca/brasil.jpg?w=1200&h=-1&s=1);
    background-size: cover;
    background-position: center;
   

  }

  .card-3 {
    width: 350px;
    height: 350px;
    flex: 0 0 calc(33.33% - 20px);
    margin-right: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;

    background-image: url(https://dynamic-media-cdn.tripadvisor.com/media/photo-o/18/d4/2f/ce/port-everglades-transfers.jpg?w=1200&h=-1&s=1);
    background-size: cover;
    background-position: center;
   

  }

  .card-4 {
    width: 350px;
    height: 350px;
    flex: 0 0 calc(33.33% - 20px);
    margin-right: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;

    background-image: url(https://content.r9cdn.net/rimg/dimg/c1/ce/f9cd2e90-city-35003-167377d30d0.jpg?width=1366&height=768&xhint=2806&yhint=2135&crop=true);
    background-size: cover;
    background-position: center;
    

  }

  .card-5 {
    width: 350px;
    height: 350px;
    flex: 0 0 calc(33.33% - 20px);
    margin-right: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;

    background-image: url(https://viajes.nationalgeographic.com.es/medio/2017/06/19/gettyimages-565927847_5b95bede.jpg);
    background-size: cover;
    background-position: center;
    

  }


  .card-6 {
    width: 350px;
    height: 350px;
    flex: 0 0 calc(33.33% - 20px);
    margin-right: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;

    background-image: url(https://i0.wp.com/imgs.hipertextual.com/wp-content/uploads/2013/04/Paris.jpg?w=1024&quality=50&strip=all&ssl=1);
    background-size: cover;
    background-position: center;
    
  }

  .card-7 {
    width: 350px;
    height: 350px;
    flex: 0 0 calc(33.33% - 20px);
    margin-right: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;

    background-image: url(https://prismic-io.s3.amazonaws.com/siestacampers/5e394358-0de7-48d3-87e1-c392e6cd762f_torre-de-belem-puesta-de-sol.jpg);
    background-size: cover;
    background-position: center;
    

  }

  .card-8 {
    width: 350px;
    height: 350px;
    flex: 0 0 calc(33.33% - 20px);
    margin-right: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;

    background-image: url(https://www.viajaraitalia.com/wp-content/uploads/2012/05/Coliseo-de-Roma-abril-2007-760x500.jpg);
    background-size: cover;
    background-position: center;
    

  }

  .cards h2{
    text-align: center;
    /* color: #FC2947; */
    font-size: 55px;
    background-color: #00000059;
    -webkit-text-stroke: 0.5px var(--color-white);
    color: transparent;

  }

  .list-card{
    color: var(--color-white);
    font-size: 25px;
    background-color: #00000059;
  }

.prev-button,
.next-button {
position: absolute;
top: 50%;
transform: translateY(160px);
width: 150px;
height: 10px;
background-color:var(--second-color);
border: 1px solid var(--second-color);
/* border-radius: 50%; */
/* font-size: 24px; */
/* line-height: 1; */
/* cursor: pointer; */
z-index: 1;
}

.prev-button {
left: 10px;
}

.next-button {
right: 10px;
}

/* ------------------ */

footer {
    background-color:var(--color-primary)
    
}
#content-footer .logo-footer{
    margin-left: 20px;
}

footer .redes{
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer img{
    margin: 0;
    padding: 10px;
    align-items: colums;
}

footer p{
    margin: 0;
    padding: 12px;
    color:var(--color-white)
}



/*Version para escritorio*/

@media (min-width: 720px){

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 30px;

    }

}


