/* fuente principal */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&family=Montserrat&display=swap');

/* letra titulo form destino */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
/*letras carteles*/
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

*{
    margin: 0; /*le saca el margen a todo*/
    padding: 0;
    box-sizing:border-box;
}

/* html{
    scroll-behavior: smooth;
} */

body{
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(135deg, #00b7d4, #505488, #2f3f80, #161569, #5a4894, #a950a1, #ff7cae);
	background-size: 500%;
	animation: gradient 10s infinite;
	/* height: 100vh; */
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

:root{

  --color-primary: #270570;
  --second-color:#FC2947;
  --color-white:#fff8dc;
  --other-color:#2b90e2;
  --principal-font:'Montserrat', sans-serif;
  --second-font:'Anton', sans-serif;
}

/*hasta aca estan definida los estilos  generales de la web*/

/* *** header*** */


header {

    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px;
    height: 150px;

    background-image: url(https://media.staticontent.com/media/pictures/ac250e36-5700-4b60-8dac-934a961ff431), linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(54,54,54,1) 100%);
    background-position: center;
    background-size: cover;
    
  }

  .logo{
    display: flex;
    flex-direction: column;
   align-items: center;

  }

  .logo p{
    margin-top: -220px; /* Espacio entre el logo y el texto */
    /* font-size: 25px; */
    font-weight: bold;
    color: #d66bee;
    font-size: 1em;
    text-shadow: 2px 2px 2px #1d5fd0;
  }

  .logo img {
    width: 250px;
    height: auto;
    margin-top: -108px;

  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin: 0 10px;
   
  }
  
  nav a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: var(--color-white);
    /* font-size: 15px; */
  }

  header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: var(--color-white);
}

header a:hover{
    color:var(--other-color);
}

/* ***main*** */

/* estilo de formulario destino */

/* .content-title{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  height: 200px;
}

.content-title span{
  text-align: center;
  width: 100%;
  height: 50px;
  font-size: 40px;


}

.hr{

  width: 400px;
  height: 5px;
  margin: 20px;
  border-bottom:1px solid var(--second-color);

}

.container-form {
    display: flex;
    background-image: url(https://plus.unsplash.com/premium_photo-1679830513990-82a4280f41b4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80);

    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
   
    padding: 25px 0 20px 0;
    opacity: 0.8;

  }

  .form-destino {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    height: 15vh;

    border-radius: 10px;

  }

  .form-group {
    display: flex;
    flex-direction: column;
    margin: 10px 150px 0 10px;

  }

  label {
    margin-bottom: 10px;
    color: var(--color-white);
    font-size: 1em;
  }

  label:hover{
    color: var(--second-color);
  }
  
  select, input {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid var(--color-white);
    font-size: 16px;
    width: 200px;
  }
  

  .btn-form {
    background-color:var(--color-primary);
    color:var(--color-white);
    padding: 10px 20px;
    border-radius: 3px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 15px;
  }

  .btn-form:hover{

    background-color:var(--second-color);
    color:var(--color-white);
    

  } */

  /* En este ejemplo, utilizamos display: flex en el contenedor principal para centrar el formulario en la página y justify-content: center y align-items: center para alinearlo horizontal y verticalmente. Luego, aplicamos display: flex y flex-direction: column al formulario y display: flex y flex-direction: row a cada grupo de elementos para alinearlos vertical y horizontalmente, respectivamente. */


  /*----medios de pago*/

  .pagos-container{
    width: 75%;
    background-color:var(--color-white);
    display: flex;

    padding: 0px;
    padding-bottom: 5px;
    box-shadow: 0 1px 2px 0 rgba(23,35,44,0.24), 0 -1px 5px 0 rgba(23,35,44,0.2);


    flex-direction: column;
    justify-content: center;

    margin: auto;

  }

  .medios-pagos{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 10px;

  
  }

  .title-medios{
    padding: 15px 15px;
  }

  .title-medios h2{
    font-size: 27px;
    color: var(--second-color);
    display: inline-block;
    font-weight: 600;
    margin: 0px;
  }

  .title-medios p{
    font-size: 15px;
    color: #484848;
    float: right;
    margin: 0px;
    padding-top: 10px;
    font-style: italic;
  }


  .altura-logo{
    display: block;
    height: 30px;
}

.pago-logo img{
  width: 60px;
  margin: auto;
  display: block;
}

.pago-logo p{
  text-align: center;
  display: block;
  padding-top: 5px;
  font-size: 13px;
}

.btn-pagos{
  margin: 10px 0px 25px 0px;
}
  
.btn-pagos button{
  color: var(--second-color);
  background: #fff;
  padding: 12px 20px;
  border: 1px solid var(--second-color);
  font-size: 15px;
  font-weight: 600;
  display: block;
  float: right;
  margin-right: 10px;
  padding-top: 10px;
}

/* ****************** */

  /*tarjetas de destinos*/

  .img-slider{
  position: relative;
  width: 800px;
  height: 500px;
  margin: 50px auto;
  background: #1d212b7f;

}

.img-slider .slide{
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.img-slider .slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.img-slider .slide img{
  width: 800px;
  height: 500px;
  z-index: 1;
  width: 100%;
  border-radius: 5px;
}

.img-slider .slide .info{
  position: absolute;
  top: 0;
  padding: 15px 30px;
}

.img-slider .slide .info h2{
  color: #fff;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
}

.img-slider .slide .info p{
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  font-size: 16px;
  width: 60%;
  padding: 10px;
  border-radius: 4px;
}

.img-slider .navigation{
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.img-slider .navigation .btn{
  background: rgba(255, 255, 255, 0.5);
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.img-slider .navigation .btn.active{
  background: #2696E9;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 820px){
  .img-slider{
    width: 600px;
    height: 375px;
  }

  .img-slider .slide .info{
    padding: 10px 25px;
  }

  .img-slider .slide .info h2{
    font-size: 35px;
  }

  .img-slider .slide .info p{
    width: 70%;
    font-size: 15px;
  }

  .img-slider .navigation{
    bottom: 25px;
  }

  .img-slider .navigation .btn{
    width: 10px;
    height: 10px;
    margin: 8px;
  }
}

@media (max-width: 620px){
  .img-slider{
    width: 400px;
    height: 250px;
  }

  .img-slider .slide .info{
    padding: 10px 20px;
  }

  .img-slider .slide .info h2{
    font-size: 30px;
  }

  .img-slider .slide .info p{
    width: 80%;
    font-size: 13px;
  }

  .img-slider .navigation{
    bottom: 15px;
  }

  .img-slider .navigation .btn{
    width: 8px;
    height: 8px;
    margin: 6px;
  }
}

@media (max-width: 420px){
  .img-slider{
    width: 320px;
    height: 200px;
  }

  .img-slider .slide .info{
    padding: 5px 10px;
  }

  .img-slider .slide .info h2{
    font-size: 25px;
  }

  .img-slider .slide .info p{
    width: 90%;
    font-size: 11px;
  }

  .img-slider .navigation{
    bottom: 10px;
  }
}
      


/* ***main*** */

/* ------------------ */
/* ***footer*** */

footer {
  margin-top: 150px;
   width: 100%;
   height: 40vh;
  color: aliceblue;
  display: flex;
  background-image: url(https://media.staticontent.com/media/pictures/ac250e36-5700-4b60-8dac-934a961ff431), linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(54,54,54,1) 100%);
  background-position: center;
  background-size: cover;

}


footer div{
text-align: center;
margin-top: 15vh;
}


footer div h3{
font-weight: 300;
letter-spacing: 1px;
margin-bottom: 20px;
}

.col-2{
  flex-grow: 1;
}

.col-1 a, .col-2 a, .col-3 a{
display: block;
text-decoration: none;
color: aliceblue;
margin:10px 0 10px 0;
}

.col-1{
  margin-left: 30vh;

}

.col-1 a:hover{
  color: var(--other-color);
}

.col-3{
  margin-right: 30vh;
}


.social-icons{
margin-top: 40px;
display: flex;
justify-content: center;

}


.social-icons a i{

font-size: 45px;
margin: 10px;
cursor: pointer;
} 

/* ******** */

/* header */

/* @media (max-width: 768px) {
    header {
      flex-direction: column;
      align-items: center;
    }
  

    .logo img {
      margin-top: 40px;
      width: 100px;
    }
  
    nav {
      margin-top: 20px;
    }
  
    nav ul {
      flex-direction: column;
    }
  
    nav li {
      margin: 10px 0;
    }
  } */

  /* pagina oculta de medios de pagos */

  #modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
    z-index: 9999;
    text-align: center;

    color: #484848;
  }
  
  #modal.oculto {
    display: none;
  }
  

  .cerrar {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
  }
  
  .cerrar:hover,
  .cerrar:focus {
    color: #aaa;
    text-decoration: none;
    cursor: pointer;
  }

.titulos-pago h3{
  color: #05a08d;
    font-size: 30px;
    display: inline-block;
    font-weight: 600;
    margin: 30px 0 30px 0;
}

.md-pago{

  margin-bottom: 50px;

}

.medio-pago{

     margin: 0px;
    padding: 0px !important;
    margin-top: 30px;
    margin-bottom: 10px;

}

.fila-pago{
  width: 100%;
  display: flex;
  justify-content:space-around;
  align-items: center;
  margin-left:15%;
}

.fila-pago hr{
  border: 1px solid var(--second-color);
  margin: 10px 0;
}


.logos-bancos{
  display: inline-block;
    width: 100px;
}

.logos-bancos img{
  width: 80px;
}

.textomedios h5 {
  font-size: 18px;
  display: inline-block;
}

.vercondicion {
  float: right;
  cursor: pointer;
  position: relative;
}

.vercondicion p{
  text-align: right;
    font-size: 15px;
    font-weight: 600;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* listado de ofertas ARREGLAR ESTILOS TEXTOS Y TABLA */

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 15px;
  transition: box-shadow 0.2s ease-in-out;
}
table:hover {
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
}

td {
  vertical-align: middle;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
    
}

.ciudad {
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.2em;
}

.tiempo {
  font-size: 0.8em;
}

.icon {
  font-size: 1em;
}

.escalas {
  font-size: 0.7em;
}

table tr td{
  width: 100px;
}
@media screen and (max-width: 767px) {
  table {
    display: block;
    width: 100%;
  }

  td {
    display: block;
    border: none;
    margin: 0;
    position: relative;
  }

  td:after {
    content: "";
    display: block;
    height: 1px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 10%;
    right: 10%;
  }

  td:last-child:after {
    display: none;
  }

  td:before {
    content: attr(data-label);
    display: inline-block;
    font-weight: bold;
    margin-right: 10px;
  }
}
.offer-btn {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  width: 100px;
  
}

.offer-btn:hover {
  background-color: #0062cc;
}