@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&family=Montserrat&display=swap');

*{
    box-sizing: border-box; /*no crece mas alla del tamaño*/
    /*margin: 0; le saca el margen a todo*/
}

html{
    scroll-behavior: smooth;
}

body{
    /* font-family: 'roboto', sans-serif; */
    margin: 0; /*margen*/
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);

}

:root{

    --color-primary: #270570;
    --second-color:#FC2947;
    --color-white:#eeeeee;
    --other-color:#2b90e2;
    --principal-font:'Montserrat', sans-serif;
    --second-font:'Anton', sans-serif;
  }

/*hasta aca estan definida los estilos  generales de la web*/

/* *****header******* */

.container{
    max-width: 1400px; /*margen maximo*/
    margin: auto; /*margenes automaticos*/
}

header{
    background-image: url(https://media.staticontent.com/media/pictures/ac250e36-5700-4b60-8dac-934a961ff431), linear-gradient(90deg, var(--second-color) 0%, var(--color-primary) 100%);
    background-position: center;
    background-size: cover;
    height: 100px;
}

header .logo{
    margin: 0;
    padding: 25px;
    font-weight: bold;
    color: cornsilk;
    font-size: 1.35em;
}

header .container{
    display: flex;
    flex-direction: column; /*se ordenan en una columna*/
    align-items: center;   
}


header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;

}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color:var(--color-white);
}

header a:hover{
    color:var(--other-color);
}

/* formulario contacto */

/* --cotenedor del fomulario-- */



.back{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding: 0;
    /* background-color: aqua; */
    box-sizing: content-box;
}


.back-form{
    width: 650px;
    height: 100%;
    background-image: url(https://cdn.pixabay.com/photo/2017/06/05/11/01/airport-2373727_1280.jpg);
    background-position: center;
    background-size: cover;

    opacity: 0.9;

}


/* --------- */
/* estilo del formulario */

.content-form{
    width: 100%;
    height: auto;
}

.error{

    color: red;
    font-style: italic;
    padding: 5px;
    font-size: 12px;
}

#contact{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content:space-around;
    align-items: center;
   margin-left: 5px;
}

#contact h1{
    font-size:40px;
    color: white;
    text-align: center;
}

#contact legend{
    text-align: center;
    margin-top: 0;
    color: rgba(0,0,0,0.7);
}

.form_input, #select{
    /* padding: 20px; */
    background: transparent;
    border: 1px solid rgba(0,0,0,0.3);
    /* margin-bottom: 40px; */
    border-radius: 10px;
    width: 70%;
    height: 30px;
}

.form_legend{
    width: 70%;

}


/* .form_legend legend{
    text-align: center;
} */


/* .form{
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
    position:relative;
}

.form_titulo {
    text-align: center;
    margin-top: 0;
    color: rgba(0,0,0,0.7);
}

.form_input, .form_label, .form_enviar {
    display: block;
    width: 100%;
    font-size: 1.3em;
    border-radius: 5px;
}

.form_input{
    padding: 20px;
    background: transparent;
    border: 1px solid rgba(0,0,0,0.3);
    margin-bottom: 40px;
}

.form_input:focus{
    outline: 1px solid rgba(0,0,0,0.7);
}
.form_input:focus + .form_label{
    margin-top: -135px;
}

.form_label{
    padding-left: 15px;
    position: absolute;
    margin-top: -85px;
    z-index: -20px;
    color:rgba(0,0,0,0.5);
    transition: all 0.2s;
}

.form_legend {
    border-radius: 5px;
    margin: 20px;
}

.form_enviar {
    background-color: rgb(43, 144, 226);
    color: white;
    padding: 10px 10px;   
    cursor: pointer;
}

.form_enviar:hover{
    background-color: rgb(9, 37, 59);
}

.fijar {
    margin-top: -135px;
}

*/
footer {
    background-color: rgb(219, 215, 215);
    
}
#content-footer .logo-footer{
    margin-left: 20px;
}

footer .redes{
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer img{
    margin: 0;
    padding: 10px;
    align-items: colums;
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
} 



/*Version para escritorio*/

@media (min-width: 720px){

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 30px;

    }

}






/*

se renombro ha app.js
se movio README.md a raiz

se corrigio formulario de contacto
se realizo la validacion del formulario con jquery.validation

se creo estilo para formulario.






*/