/* fuente principal */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&family=Montserrat&display=swap');

/* letra titulo form destino */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    box-sizing: border-box; /*no crece mas alla del tamaño*/
    /*margin: 0; le saca el margen a todo*/
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'roboto', sans-serif;
    margin: 0; /*margen*/
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

:root{

    --color-primary: #270570;
    --second-color:#FC2947;
    --color-white:#fff8dc;
    --other-color:#2b90e2;
    --principal-font:'Montserrat', sans-serif;
    --second-font:'Anton', sans-serif;
  }

/*gerarquias de los titulos*/
h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}
ul{list-style: none;} /*le saca los puntos de la lista*/
li{font-size: 1.25em;}

button{ /*estetica de los botones*/
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    color: white;
    background-color: rgb(43, 144, 226);
}

button:hover{
    background-color: rgb(9, 37, 59);
}

/*hasta aca estan definida los estilos  generales de la web*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 150px;

    background-image: url(https://media.staticontent.com/media/pictures/ac250e36-5700-4b60-8dac-934a961ff431), linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(54,54,54,1) 100%);
    background-position: center;
    background-size: cover;
    
  }

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.logo p{
    margin-top: -220px; /* Espacio entre el logo y el texto */
    /* font-size: 25px; */
    font-weight: bold;
    color: #d66bee;
    font-size: 1em;
    text-shadow: 2px 2px 2px #1d5fd0;
}

.logo img {
    width: 250px;
    height: auto;
    margin-top: -108px;

}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 10px;

}

nav a {
    /* padding: 5px 12px; */
    text-decoration: none;
    /* font-weight: bold; */
    color: var(--color-white);
    /* font-size: 15px; */

    font-weight: 300;
    /* margin-bottom: 30px; */
    letter-spacing: 1px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: var(--color-white);
}

header a:hover{
    color:var(--other-color);
}

.container {
    max-width: 1400px; 
    margin: auto;  
}

header{
    background-color: rgb(245,245,245);  
}
header .container{
    display: flex;
    flex-direction: column; 
    align-items: center;   
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    
    
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("/assets/img/miami.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: white;
}

#hero button{
    font-size: 1.75em;
}

#quienes-somos .container{
    text-align: center;
    padding: 50px 30px;
}

#quienes-somos .color-acento{
    color: rgb(43, 144, 226);      
}

#quienes-somos .texto{
    margin-top: 50px;
    
}


#nuestros-viajes{
    color: white;
    text-align: center;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 170vh;
}

@keyframes gradient {
	100% {
		background-position: 0% 50%;
	}
    50% {
		background-position: 100% 50%;
	}
    0% {
		background-position: 0% 50%;
	}
	
	
}

#nuestros-viajes .container{
    padding: 40px 12px;
}

#nuestros-viajes .color-acento{
    color: rgb(43, 144, 226);
}

#nuestros-viajes .titulo{
    margin-top: 35px;
    font-size: 1.2em;
}

#nuestros-viajes p{
    display: none;  
}

#nuestros-viajes .carta{
    background-position: center center; 
    background-size: cover;   
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("/assets/img/viajes-grupales.jpg");
}    

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("/assets/img/paquetes-deportivos.jpg")
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("/assets/img/viajes-negocios.jpg");
}

footer {
    margin-top: 0px;
    width: 100%;
    padding: 60px 15%;
    color: aliceblue;
    display: flex;
    height: 300px;

    background-image: url(https://media.staticontent.com/media/pictures/ac250e36-5700-4b60-8dac-934a961ff431), linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(54,54,54,1) 100%);
    background-position: center;
    background-size: cover;
}

footer div{
  text-align: center;
}

footer div h3{
  font-weight: 300px;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.col-1 a, .col-2 a, .col-3 a{
  display: block;
  text-decoration: none;
  color: aliceblue;
  margin:10px 0 10px 0;
}

.col-2{
  flex-grow: 1;
}

.social-icons{
  margin-top: 40px;
  display: flex;
  justify-content: center;

}

.social-icons a i{
  font-size: 45px;
  margin: 10px;
  cursor: pointer;
}
  



/* ******************************************************************** */
/*version para escritorio*/

@media (min-width: 720px){

    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;

    }
     

    #hero h1 { 
        font-size: 3.5em;
    }

    #quienes-somos .container{
        display: flex;
        justify-content: space-evenly;
    }

    #quienes-somos h2 {
        margin-top: 50px;
    }
    
    #quienes-somos .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;  
    }
   

    #quienes-somos .img-container {
        background-image: url("/assets/img/lisboa.jpeg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px;
        margin: 10px 30px 10px 30px;
    }

    #nuestros-viajes{
        height: 90vh;
    }

    #nuestros-viajes .container{ 
        display: flex; /*deja las cartas una al lado de la otra */
        justify-content: center; /*se centran los programas*/
    }

    
    #nuestros-viajes h2 {
        font-size: 3em;
        display: block;
        margin-bottom: 0px;
    }    
       
    #nuestros-viajes h3 {
        margin-top: 30px;
    }

    #nuestros-viajes .carta {
        padding: 50px;
        background-size: 120% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgb(50,50,50, 0.5);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }

    .carta:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("/assets/img/viajes-grupales.jpg");
    }
    
    .carta:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("/assets/img/paquetes-deportivos.jpg");
    
    }
    
    .carta:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("/assets/img/viajes-negocios.jpg");
    }

    footer {
        justify-content: flex;
        height: 300px;
    }
    


@media (min-width: 1200px) {
    #contacto{
        background-position-x: calc(100wv - 800px);
    }
}
}



