/* fuente principal */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&family=Montserrat&display=swap');

/* letra titulo form destino */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    margin: 0; /*le saca el margen a todo*/
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'roboto', sans-serif; */
    margin: 0; /*margen*/
    /* background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); */

    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

:root{

    --color-primary: #270570;
    --second-color:#FC2947;
    --color-white:#fff8dc;
    --other-color:#2b90e2;
    --principal-font:'Montserrat', sans-serif;
    --second-font:'Anton', sans-serif;
}

/*hasta aca estan definida los estilos  generales de la web*/

/* *** header*** */


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 150px;

    background-image: url(https://media.staticontent.com/media/pictures/ac250e36-5700-4b60-8dac-934a961ff431), linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(54,54,54,1) 100%);
    background-position: center;
    background-size: cover;
    
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo p{
    margin-top: -220px; /* Espacio entre el logo y el texto */
    /* font-size: 25px; */
    font-weight: bold;
    color: #d66bee;
    font-size: 1em;
    text-shadow: 2px 2px 2px #1d5fd0;
}

.logo img {
    width: 250px;
    height: auto;
    margin-top: -108px;

}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 10px;
}

nav a {
    /* padding: 5px 12px; */
    text-decoration: none;
    /* font-weight: bold; */
    color: var(--color-white);
    /* font-size: 15px; */

    font-weight: 300;
    /* margin-bottom: 30px; */
    letter-spacing: 1px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: var(--color-white);
}

header a:hover{
    color:var(--other-color);
}

/* ***main*** */

.sectionPackage {
    padding: 30px;
}

.sectionPackage h3 {
    font-size: 20px;
}

.titulo {
    padding: 30px;
    padding-bottom: 20px;
}

.titulo h2 {
    font-size: 30px;
}

.packages{
    display: flex; 
    justify-content: space-evenly;
    align-items: baseline; /*centra en la mitad de la pantalla*/
}

.packages .promocion{
    margin: 10px;
    height: 300px;
    width: 150px;
    min-width: 120px;
    text-align: center;
    border-radius: 5px;
    flex-grow: 1;
    padding: 10px 5px 5px 5px;
    box-shadow: -1px 9px 15px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 9px 15px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 15px -1px rgba(0,0,0,0.75);
}
.promocion p {
    text-align: center;
    /* color: #FC2947; */
    font-size: 30px;
    background-color: #00000059;
    -webkit-text-stroke: 0.5px var(--color-white);
    color: transparent;
}

.packages .promocion:hover{
    background-image: url(../img/avionnn.jpg);
    background-size: cover;
    opacity: 0.7;
}

.europa {
    background-image: url("../img/foto-europa.jpg");
    background-size: cover;
}

.mediooriente {
    background-image: url("../img/foto-mediooriente.jpg");
    background-size: cover;
}

.fortaleza {
    background-image: url("../img/foto-fortaleza.jpg");
    background-size: cover;
}

.nepal {
    background-image: url("../img/foto-nepal.jpg");
    background-size: cover;
}

.lasvegas {
    background-image: url("../img/foto-lasvegas.jpg");
    background-size: cover;
}

.tokio {
    background-image: url("../img/foto-tokio.jpg");
    background-size: cover;
}

.vermas {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.vermas button {
    background-color: rgb(222, 191, 255);
    border: none;
    padding: 1rem 2rem;
    border-radius: 25px;
    color: rgb(0, 0, 0);
    box-shadow: -1px 9px 15px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 9px 15px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 15px -1px rgba(0,0,0,0.75);
}

.vermas button:hover {
    color:rgb(0, 0, 0);
    box-shadow: -1px 9px 15px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 9px 15px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 15px -1px rgba(0,0,0,0.75);
    transform: scale(1.1);
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

/* ***footer*** */

footer {
    background-color: rgb(219, 215, 215);
    
}
#content-footer .logo-footer{
    margin-left: 20px;
}

footer .redes{
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer img{
    margin: 0;
    padding: 10px;
    align-items: colums;
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}    