/* fuente principal */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&family=Montserrat&display=swap'); /*Monserrat*/
/*letras carteles Raleway*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400&display=swap');
/* fuente secundaria Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&family=Raleway:wght@100;200;400&display=swap');


/* @mixin es una característica de SASS/SCSS , se reemplaza por css basico  -Griselda */

/* @mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
@mixin flex-center-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
@mixin circles-setting {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
   */

*{
    margin: 0; /*le saca el margen a todo*/
    padding: 0;
    box-sizing:border-box;
}

html{
    scroll-behavior: smooth;
}

:root{
    --color-primary: #1d4d8b;
    --second-color:#DF2E38;
    --color-white:#FAF7F0;
    --other-color:#2b90e2;
    --color-alternative: #0c0b0b3d;
    --principal-font:'Montserrat', sans-serif;
    --second-font:'Poppins', sans-serif;
    --other-font: 'Raleway', sans-serif;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--color-white);
    position: relative;
    line-height: 1.6;
    /*@include flex-center;*/
    flex-wrap: wrap;
    min-height: 100vh;
    color: #fff;
    background: linear-gradient(135deg, #00b7d4, #505488, #2f3f80, #161569, #5a4894, #a950a1, #ff7cae);
	background-size: 500%;
	animation: gradient 10s infinite;
  } 

  @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Cambiar el color del scroll */
::-webkit-scrollbar-thumb {
  background-color: transparent; /* Color del scroll */
}

/* Cambiar el color de fondo del scroll */
::-webkit-scrollbar-track {
  background-color: transparent; /* Color de fondo del scroll */
}

/*hasta aca están definida los estilos  generales de la web*/
::-webkit-scrollbar-thumb {
  background-color: var(--color-primary); /* Color del pulgar */
}
  

header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px;
    height: 175px;
    background-image: url(https://media.staticontent.com/media/pictures/ac250e36-5700-4b60-8dac-934a961ff431), linear-gradient(182deg, rgb(49 49 49) 0%, #1d5fd0 100%);
     
  }

  .logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: contrast(10.5);
  }

  .logo p{
    margin-top: -220px; /* Espacio entre el logo y el texto */
    /* font-size: 25px; */
    font-weight: bold;
    color: #d66bee;
    font-size: 1em;
    text-shadow: 2px 2px 2px #1d5fd0;

    position: relative;
    left: 15vh;
    top: 7vh;
    filter: contrast(10.5);
  }


  .logo img {
    width: 250px;
    height: auto;
    margin-top: -108px;
  }
  
  .nav-header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .nav-header li {
    margin: 0px;
    padding: 0px;
    font-size: 10px;
    flex-direction: column; 
  }
  
  .nav-header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: var(--color-white);
  }

  header a:not(.logo-img){
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: var(--color-white);
    position: relative;
    top: 13px;
    right: 7px;
}

/* menos a de logo */
header a:hover:not(.logo-img){
    color:var(--other-color);
    
}
/* tarjetas sobre nosotros */

/* se borro main  -Griselda- */

   main #nosotros {
    font-size: 1.3em;
    padding: 100px 90px 10px 90px;
    text-align: center;
  } 

    /* se agrega estilo a titulo */
    #nosotros h2{
      font-size: 2em;
      letter-spacing: 3px;
      position: relative;
      bottom: 65px;
      color: var(--color-white);
      text-align: center;
    }
    
    .container {
    position: relative;
    /* @include flex-center;  flex se debe aplicar aqui -Griselda*/
    display: flex;
    z-index: 1;
    flex-wrap: wrap;  /*no hace falta,ya que son solo 4 .card -Griselda-- lo uso para el responsive*/
    margin: 40px 0;
    font-family: 'Poppins', sans-serif;

    /*  se alinea los .card al centro -Griselda*/
    justify-content: center
    
    }
    
    .card {
    display: inline-block;
    width: 280px;
    height: 400px;
    background: #1c1c1c;
    margin: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    /* @include flex-center;   se reemplaza por css basico -Griselda*/
    
    backdrop-filter: blur(10px);
    border-radius: 15px;
    text-align: center;

    /*  sass/scss se reemplaza por css basico -Griselda */

    /* &:hover .content {
        opacity: 1;
        transform: translateY(-20px);
    }
    &:hover .social-icons li {
        transform: translateY(0);
        opacity: 1;
    } */
    }
    
    /* se reemplaza sass/scss por css -Griselda */
      .card:hover .content {
        opacity: 1;
        transform: translateY(-20px);
    }
    .card:hover .social-icons li {
        transform: translateY(0);
        opacity: 1;
    }

    

    .content {
    /* @include flex-center-column; se reemplaza por css basico -Griselda*/
    display: flex;
    flex-direction: column;
    align-items: center;

    opacity: .5;
    transition: .5s;
    }

    /* sass/scss se reemplaza por css basico  -Griselda*/
    
    /* .content-box {
        & span {
        font-weight: 300;
        font-size: 15px;
    }
        & h3 {
        font-size: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 500;
    }
    } */


    .content-box{
      position: relative;
      top: 12px;
    }

    .content-box span{
      font-weight: 300;
      font-size: 15px;
    }

    .content-box h3{
      font-size: 17px;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-weight: 500;
    }

    .img-box {
        position: relative;
        width: 160px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
        /* se cambia color de borde  -Griselda */
        border: 10px solid var(--other-color);
        /* se desplaza avatar 10px  */
        top: 10px;

        /* sass/scss  se reemplaza por css basico -Griselda*/
    /* &__person-photo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100px;
        height: 100px;
    } */
  }

  .img-box__person-photo{
    /* se agrega tamaño de la imagen igual que su contenedor  -Griselda */
    width: 160px;
    height: 150px;
  }

    .social-icons {
        display: flex;
        margin-left: 100px;
        position: absolute;
        list-style: none;
        bottom: 50px;
        
        /* se reemplaza por css basico */
    /* & li {
        margin-right: 15px;
        transform: translateY(40px);
        transition: .5s;
        opacity: 0;
        transition-delay: calc(0.1s * var(--i));
        backface-visibility: hidden; 
    } */

}

.social-icons li {
  margin-right: 15px;
  transform: translateY(40px);
  transition: .5s;
  opacity: 0;
  transition-delay: calc(0.1s * var(--i));
  backface-visibility: hidden; 
}
   
    .icon-white {
    color: #fff;
    font-size: 18px;
   
    }

  
/***** footer  ****/

footer {
  margin-top: 0px;
  width: 100%;
  padding: 60px 15%;
  color: aliceblue;
  display: flex;
  height: 300px;

  background-image: url(https://media.staticontent.com/media/pictures/ac250e36-5700-4b60-8dac-934a961ff431), linear-gradient(182deg, rgb(49 49 49) 0%, #1d5fd0 100%);
  background-position: center;
  background-size: cover;
}
  
  footer div{
  text-align: center;
  }

  footer div h3{
    font-weight: 200px;
    margin-bottom: 30px;
    letter-spacing: 1px;
    font-size: 20px;
  }
  
  
  
  
  .col-1 a, .col-2 a, .col-3 a{
    display: block;
    text-decoration: none;
    color: aliceblue;
    margin:5px 0px 5px 0px;
    padding: 2px;
  }

  .col-2{
    flex-grow: 1;
  }
  
   
  .social_icons{
  margin-top: 40px;
  display: flex;
  justify-content: center;
 }
  
  .social_icons a i{
  font-size: 30px;
  margin: 10px;
  cursor: pointer;
  } 

  /* ******************************************************************** */
/*version para escritorio*/

@media (min-width: 720px){

  header{
      position: fixed;
      width: 100%;
  }

  header .container{
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 80px;
  }

  header nav{
      flex-direction: row;
      padding-bottom: 0px;
      padding-right: 20px;
      z-index: 30;
  }

  .nav-header ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
    }
  
    .nav-header li {
      margin: 0 10px;
      font-size: 15px;
    }

    main #nosotros {
      font-size: 1.3em;
      text-align: center;
     
    } 

    #nosotros h2{
      margin: 100px;
      padding: auto;
    } 
  
      

  footer {
      justify-content: flex;
      height: 300px;
  }
} 


@media (min-width: 1200px) {
  #contacto{
      background-position-x: calc(100wv - 800px);
  }
}


  /* .container {
  position: relative;
  @include flex-center;  flex se debe aplicar aqui -Griselda*/
  /*display: flex;
  z-index: 1;
  flex-wrap: wrap;  no hace falta,ya que son solo 4 .card -Griselda-- lo uso para el responsive
  margin: 40px 0;
  font-family: 'Poppins', sans-serif;

  /*  se alinea los .card al centro -Griselda*/
  /*justify-content: center
  
  } */


  
 
    
